<h1>Burgers!</h1>

<h2>Burgers that are not Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    {{!-- devoured on top --}}
     <li>
         {{burger_name}}
     </li>
     <button class="not-devou">Devour burger! </button>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
     <li>
         {{burger_name}}
     </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form action="/api/burgers" method="POST" class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="burger_name">
  </div> 

  <button  type="submit">Add Burger</button>
</form>

